.tweet{
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  width:100%;
  max-width: 590px;
  border: 1px solid #fff;
  border-radius: 3px;

  color: #fff;
}

.tweet p{
  color: #fff;
}

.tweetHeader{
  margin: 1em 0em 0.25em 0em;
}

.authorName{
  font-size: 1.1rem;
  font-weight: 700;
}

.tweetHeader p {
  margin-bottom: 0.25em;
}

.tweet .secondaryText{
  font-size: 0.8rem;
  color: #a19d9d;
  margin-top: 0.25em;
}

.tweetBody{
  padding: 1em 0em;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1em;
}

.tweetFooter, .tweetFooter button{
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  line-height: 1rem;
  z-index: 5;
}

.tweetFooter p{
 padding: 0 1.5em 0 0.5em;
 font-size: 1.1rem;
}

.icon{
  font-size: 1.25rem;
}

.icon:hover{
  color: red;
}

.redHeart{
  color: red;
}
